/* Most important definitions critical to the website */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
transition: ease 0.6s;	
}

#scene {
    pointer-events: all !important;

}

.mainbody {
    z-index: 1;
    /* max-width: 1440px; */
    position: absolute;
}

.loader {
    position: fixed;
    z-index: 2;
    pointer-events: none;
    background-image: cover;
    background-color: white;
    -webkit-animation: loaderend 3s forwards;
}



body {
    background-color: #000000;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

#bg-water {
    z-index: -10;
    position: fixed;
}


/* Animations */

@-webkit-keyframes BLINKING {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes loaderend {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pgeTransition {
    0% {
        opacity: 1;
    }
    19% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    29% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    69% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    89% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.pge-transition {
    animation: pgeTransition .3s forwards !important;
}


/* Header */

.topbar {
    transform: translateX(10%);
    z-index: 0;
}

#logoo:hover {

    -webkit-animation: pge-transition 0.5s forwards;
}

.blink {
    -webkit-animation: BLINKING 2s infinite;
}


/* Grid */

.grid-sizer {}

.grid {
    margin: 0 auto;
    padding-top: 80px;

}

.grid-item {
    padding: 10px;
    margin-bottom: 2.5vw;
    float: left;
    transition: ease 0.2s;
    
}


.grid-item a {
    color: white;
    text-decoration: none;
}

.grid-item:hover {
    background-color: rgba(178, 178, 178, 0.7);
    text-decoration: none;
    border: 1px none solid;
    border-radius: 5px;
    transition: ease 0.2s;
}

.grid-item img {
    max-width: 250px;
}

.grid-item--width2 {
    width: 400px;
}


/* General styling */

.title {
    margin-top: 10px;
    font-family: 'Michroma', sans-serif !important;
    color: white;
}

.detail-title {
    max-width: 80%;
}

code {
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    font-size: 90%;
    color: #00A8FF;
    background-color: #f8f9fa;
    border-radius: 0rem;
}

.container-container:hover {
    margin: 0 auto;
}


.title-2 {
    font-size: 2rem;
    margin-top: 10px;
    font-family: 'Michroma', sans-serif !important;
    color: white;
}

.sub-detail {
    margin-top: 10px;
    font-family: 'Michroma', sans-serif !important;
    color: white;
    font-size: 10px;
}

.detail-subtitle {
    margin-top: 10px;
    font-family: 'Michroma', sans-serif !important;
    color: white;
    font-size: 16px;
}

.detail-description {
    margin-top: 10px;
    font-family: 'Michroma', sans-serif !important;
    color: white;
    font-size: 14px;
}

.details {
    padding-top: 80px;
    margin: 0px 8% 0px 8%;
}

@media (max-width: 576px) {
    .details {
        margin: 0px 0px 0px 0px;
    }
}


.detail-divide {
    border-color: white;
    border-top-width: 5px;
}