{% include head.html %}

<body>
    
    <div class="container-fluid mainbody">
        {% include header.html %}
        <div id="scene">
            <div data-depth="0.2" class="big-layer">
                <div id="barba-wrapper">
                    <div class="barba-container">
                        <div class="row details">
                            <div class="col-12 col-md-5">
                                <section class="detail-title">
                                    <div class="title-2">
                                        {{ page.title }}
                                       {% comment %} <hr class="detail-divide" /> {% endcomment %}
                                    </div>
                                    <div class="detail-subtitle">
                                        {{ page.date | date: "%Y" }} - {{ page.tags | join: ', ' }}
                                    </div>
                                </section>
                                <section class="detail-description">
                                    <div class="text-left">
                                        <p>
                                            {{ content }}</p>
                                            <p class="blink text-left">■</p>
                                    </div>
                                </section>
                            </div>
                            <div class="col-12 col-md-7">
                                <section class="images text-center">
                                    <div class="detail-image">
                                    	{% for image in site.static_files %}
                  						{% assign imgpath = 'img/' | append: page.imgfolder %}
                  						{% if image.path contains imgpath %}
                                        <img class="img-fluid pt-2 pb-2" src="{{ site.baseurl }}{{ image.path }}">
                                        {% endif %}
						                {% endfor %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include scripts.html %} {% include canvas.html %}
</body>