{% assign sorted = site.projects | sort: 'date' | reverse %}
{% include head.html %}
<body>
	<div class="container-fluid mainbody">
		{% include header.html %}
		<div id="scene">
			<div data-depth="0.2" class="big-layer">
				<div id="barba-wrapper">
					<div class="barba-container">
						
						<div class="grid">
							<section>
								<div class="row">
									<nav>
										{% for item in sorted %}
											<article>
												<div class="grid-item">
													<a href="{{ site.baseurl }}{{ item.url }}.html" id="link">
														<figure>
															<div id="image" class="">
																<img class="img-fluid" src="{{ site.baseurl }}/assets/img/{{ item.coverimg }}">
															</div>
														</figure>
														<figcaption>
														<div class="info">
															<div class="title">
																{{ item.title }}
															</div>
															<div class="sub-detail">
																{{ item.date | date: "%Y" }} - {{ item.tags | join: ', ' }}
															</div>
														</div>
														</figcaption>
													</a>
												</div>
											</article>
										{% endfor %}
									</nav>
								</div>
							</section>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
{% include scripts.html %}
{% include canvas.html %}
</body>